<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>   
</head>
<div>
    <div class="input">
        <button class="todo" onclick="window.location.reload();">To-Do List</button>  <br> 
        <input [(ngModel)]="newTask" type="text" value="" ><br>
        <button (click)="addToList()" class="add" *ngIf="newTask.length">Add List</button>
    </div>
    <div class="display">
        <div *ngFor="let x of items; let index = index;" >
        <div  >{{x}}</div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>